.skip-to-content-link {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
}
.skip-to-content-link:focus {
  z-index: 9999;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
  visibility: none;
  opacity: 1;
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
* {
  box-sizing: border-box;
  color: black;
}
